* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
}

.header-bar {
    display: flex;
    justify-content: space-between;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 16px;
}

.hero-content {
    display: flex;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.body {
    display: flex;
    flex-direction: column;
}

.img-div {
    display: flex;
    flex-direction: column;
}

.recipe-list {
    display: flex;
}

.quote-div {
    display: flex;
    flex-direction: column;
}

.signup-div {
    display: flex;
    justify-content: space-between;
}

.signup-text {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
}