* {
    margin: 0;
    padding: 0;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
}

.header-bar {
    justify-content: space-between;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 16px;
}

.signup-div {
    justify-content: space-between;
}