@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.main-div {
    display: flex;
    justify-content: center;
    padding: 32px 48px;
}

.content-div {
    width: 1100px;
    max-width: 100%;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#hero {
    background-color: #1f2937;
    color: white;
}

.header-bar {
    justify-content: space-between;
    gap: 16px;
}

.header-list {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header-list li:hover {
    opacity: 50%;
}

.logo {
    font-size: 20px;
    font-weight: bolder;
}

.hero-content {
    justify-content: center;
    margin: 80px 0 60px 0;
    gap: 50px;
    flex-wrap: wrap;
}

.hero-text {
    flex-basis: 500px;
    min-width: 250px;
    font-size: 20px;
    gap: 1em;
}

.hero-text h2 {
    font-size: 32px;
}

.hero-text .button {
    font-size: 16px;
    margin: auto 0;
}

.button:hover {
    opacity: 50%;
}

.button {
    padding: 0.5em 1.5em;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    width:fit-content;
    box-sizing: border-box;
}

.hero-content img {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

#div1 {
    margin: 32px 0;
}

.img-div h3 {
    text-align: center;
    font-size: 26px;
}

.recipe-list {
    justify-content: center;
    gap: 32px;
    margin-top: 32px;
    flex-wrap: wrap;
}

.recipe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    color: black;
}

.recipe-item:hover {
    opacity: 75%;
}

.recipe-item img {
    box-sizing: border-box;
    width: 220px;
    height: 220px;
    object-fit: cover;
    border: 8px royalblue;
    border-style: solid;
    border-radius: 10%;
}

#div2 {
    background-color: rgb(199, 229, 255);
    font-family: 'Times New Roman', Times, serif;
}

.quote {
    font-style: italic;
    font-size: 26px;
    color: rgb(75, 75, 75);
}

.quote-atr {
    font-size: 20px;
    align-self: flex-end;
    margin-top: 0.75em;
}

.signup-div {
    background-color: #006eff;
    color: white;
    padding: 16px 16px;
    margin: 32px 0;
    border-radius: 10px;
    width: 700px;
    justify-content: space-between;
}

.signup-div h6 {
    font-size: 20px;
}

.signup-div .button {
    background-color: #006eff;
    border: white 2px;
    border-style: solid;

}

#footer {
    background-color: rgb(44, 50, 57);
    color: white;
    padding: 8px 48px;
    align-items: center;
    flex: 1;
}

.footer {
    justify-content: center;
}